frontend/src/components/** linguist-vendored
frontend/src/assets/** linguist-vendored
frontend/public/** linguist-vendored
frontend/dist/** linguist-vendored
frontend/node_modules/** linguist-vendored
